In [ ]:
# make sure you have the latest version of sigmoid_check installed with !pip install sigmoid_check --upgrade
from sigmoid_check.excalibur import *

In [ ]:
# Given a list of dictionaries `data`, create a pandas DataFrame named `df_from_dict`.
@check_pandas_1
def pandas_1(data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_from_dict": df_from_dict}

pandas_1()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create a pandas Series named `series_from_list` from a list of floats `float_list`, with no index specified.
@check_pandas_2
def pandas_2(float_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"series_from_list": series_from_list}

pandas_2()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Given a dictionary `dict_data` containing country names as keys and populations as values, create a pandas Series named `country_population`, using the dictionary keys as index.
@check_pandas_3
def pandas_3(dict_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"country_population": country_population}

pandas_3()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From a pandas Series `series_population`, access the index and save it in a variable `population_index`.
@check_pandas_4
def pandas_4(series_population):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"population_index": population_index}

pandas_4()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Using a pandas Series `series_temperatures`, extract the values and store them in a variable `temperature_values`.
@check_pandas_5
def pandas_5(series_temperatures):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"temperature_values": temperature_values}

pandas_5()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# For a pandas Series `series_ages`, get the data type of the elements in the series and store it in a variable `ages_dtype`.
@check_pandas_6
def pandas_6(series_ages):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"ages_dtype": ages_dtype}

pandas_6()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From a Series `series_custom_index` with a custom index, access the element with index 'A' and store it in a variable `element_A`.
@check_pandas_7
def pandas_7(series_custom_index):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"element_A": element_A}

pandas_7()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Using a pandas Series `series_items`, slice the series to contain elements with indices from 'b' to 'd', inclusive, and save it into `sliced_series`.
@check_pandas_8
def pandas_8(series_items):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"sliced_series": sliced_series}

pandas_8()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From a Series `series_prices`, select elements with custom indices ['apple', 'banana', 'cherry'] and store them in `selected_prices`.
@check_pandas_9
def pandas_9(series_prices):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"selected_prices": selected_prices}

pandas_9()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create a DataFrame `df_custom` from a list of lists `list_of_lists_data`, ensuring to label the columns as 'A', 'B', 'C'.
@check_pandas_10
def pandas_10(list_of_lists_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_custom": df_custom}

pandas_10()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Given a list of tuples `data_tuples`, create a DataFrame named `df_from_tuples` and rename its columns to 'X', 'Y', 'Z'.
@check_pandas_11
def pandas_11(data_tuples):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_from_tuples": df_from_tuples}

pandas_11()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Using DataFrame `df_sales`, access and store the column names in variable `sales_columns`.
@check_pandas_12
def pandas_12(df_sales):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"sales_columns": sales_columns}

pandas_12()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Store the index of the DataFrame `df_employees` in a variable `employees_index`.
@check_pandas_13
def pandas_13(df_employees):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"employees_index": employees_index}

pandas_13()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Retrieve the values from DataFrame `df_weather` and save them into `weather_values`.
@check_pandas_14
def pandas_14(df_weather):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"weather_values": weather_values}

pandas_14()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Determine the shape of the DataFrame `df_financials` and store it in a variable `financials_shape`.
@check_pandas_15
def pandas_15(df_financials):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"financials_shape": financials_shape}

pandas_15()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Get the data types of each column in DataFrame `df_customer_info` and store them in a variable `customer_info_dtypes`.
@check_pandas_16
def pandas_16(df_customer_info):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"customer_info_dtypes": customer_info_dtypes}

pandas_16()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Using the DataFrame `df_transactions`, get the first 5 rows and store them in `transactions_head`.
@check_pandas_17
def pandas_17(df_transactions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"transactions_head": transactions_head}

pandas_17()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Retrieve the last 3 rows from DataFrame `df_activities` and save them into `activities_tail`.
@check_pandas_18
def pandas_18(df_activities):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"activities_tail": activities_tail}

pandas_18()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Get a summary of information about DataFrame `df_inventory`, storing the result in a variable `inventory_info`.
@check_pandas_19
def pandas_19(df_inventory):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"inventory_info": inventory_info}

pandas_19()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# For the DataFrame `df_scores`, generate descriptive statistics and store them in `scores_statistics`.
@check_pandas_20
def pandas_20(df_scores):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"scores_statistics": scores_statistics}

pandas_20()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use DataFrame `df_orders` to create a boolean mask `orders_non_missing`, detecting non-missing values.
@check_pandas_21
def pandas_21(df_orders):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"orders_non_missing": orders_non_missing}

pandas_21()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Drop rows with missing values in DataFrame `df_stats` and save the result into `cleaned_stats`.
@check_pandas_22
def pandas_22(df_stats):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"cleaned_stats": cleaned_stats}

pandas_22()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From DataFrame `df_statistics`, drop columns with missing values and store the result into `statistics_cleaned`.
@check_pandas_23
def pandas_23(df_statistics):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"statistics_cleaned": statistics_cleaned}

pandas_23()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Fill missing values in DataFrame `df_grades` with 0 and store the resultant DataFrame in `filled_grades`.
@check_pandas_24
def pandas_24(df_grades):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"filled_grades": filled_grades}

pandas_24()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Apply backward fill on DataFrame `df_sales_data` for missing values and save it into `filled_bfill_sales_data`.
@check_pandas_25
def pandas_25(df_sales_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"filled_bfill_sales_data": filled_bfill_sales_data}

pandas_25()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Apply forward fill on DataFrame `df_attendance` and store the results in `filled_ffill_attendance`.
@check_pandas_26
def pandas_26(df_attendance):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"filled_ffill_attendance": filled_ffill_attendance}

pandas_26()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Set 'OrderID' as the index of DataFrame `df_orders_list` and save the updated DataFrame as `orders_indexed`.
@check_pandas_27
def pandas_27(df_orders_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"orders_indexed": orders_indexed}

pandas_27()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Reset the index of a DataFrame `df_indexed_data` and store it in `df_reset_index`.
@check_pandas_28
def pandas_28(df_indexed_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_reset_index": df_reset_index}

pandas_28()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create a DataFrame `df_multiindex` with hierarchical indexing from `multiindex_data_list` using levels 'Region' and 'Category'.
@check_pandas_29
def pandas_29(multiindex_data_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_multiindex": df_multiindex}

pandas_29()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use DataFrame `df_exams` to filter rows with Score > 80 using boolean indexing and save it in `high_score_exams`.
@check_pandas_30
def pandas_30(df_exams):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"high_score_exams": high_score_exams}

pandas_30()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From DataFrame `df_transactions`, select the row with label 'TX005' and store it in `transaction_TX005`.
@check_pandas_31
def pandas_31(df_transactions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"transaction_TX005": transaction_TX005}

pandas_31()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use DataFrame `df_sports` to select rows labeled ['Basketball', 'Football'] and columns labeled ['Wins', 'Losses'], storing the result in `selected_sports`.
@check_pandas_32
def pandas_32(df_sports):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"selected_sports": selected_sports}

pandas_32()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From DataFrame `df_catalog`, select rows where 'Category' is 'Electronics' and save them to `electronics_catalog`.
@check_pandas_33
def pandas_33(df_catalog):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"electronics_catalog": electronics_catalog}

pandas_33()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# For DataFrame `df_movies`, perform boolean selection where 'Genre' is 'Action' and 'Budget' > 500000, then select 'Title' and 'Revenue' columns, storing result in `selected_movies`.
@check_pandas_34
def pandas_34(df_movies):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"selected_movies": selected_movies}

pandas_34()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
from sigmoid_check.excalibur import *

In [ ]:
# Using .loc, slice DataFrame `df_plants` to include rows 'Rose' through 'Tulip' and store it in `flower_slice`.
@check_pandas_35
def pandas_35(df_plants):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"flower_slice": flower_slice}

pandas_35()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use .iloc to slice DataFrame `df_students` to include the first three rows and the first two columns, saving them in `student_slice`.
@check_pandas_36
def pandas_36(df_students):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"student_slice": student_slice}

pandas_36()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From DataFrame `df_reports`, use a combination of .loc and .iloc to select rows 'R102' and 'R103' and the first three columns, storing it as `report_selection`.
@check_pandas_37
def pandas_37(df_reports):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"report_selection": report_selection}

pandas_37()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Modify DataFrame `df_inventory` by setting all 'Quantity' to 50 for rows labeled 'InStock' and store the modified DataFrame as `inventory_modified`.
@check_pandas_38
def pandas_38(df_inventory):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"inventory_modified": inventory_modified}

pandas_38()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Combine .loc and .iloc to modify rows 'R101' to 'R105' in 'df_revenue' setting the first column's value to 1000, storing it in `revenue_updated`.
@check_pandas_39
def pandas_39(df_revenue):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"revenue_updated": revenue_updated}

pandas_39()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Using DataFrame `df_hierarchical_example`, demonstrate the use of .loc and .iloc on a DataFrame with a multiindex, saving the selection as `multiindex_selected`, selecting the row with index ('North', 'A') and column 'X'.
@check_pandas_40
def pandas_40(df_hierarchical_example):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"multiindex_selected": multiindex_selected}

pandas_40()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Concatenate DataFrames `df1` and `df2` horizontally and save the result as `concatenated_df_horizontal`.
@check_pandas_41
def pandas_41(df1, df2):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"concatenated_df_horizontal": concatenated_df_horizontal}

pandas_41()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Concatenate DataFrames `df_a` and `df_b` vertically, aligning by columns, and store the result in `concatenated_df_vertical`.
@check_pandas_42
def pandas_42(df_a, df_b):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"concatenated_df_vertical": concatenated_df_vertical}

pandas_42()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Merge DataFrames `df_left` and `df_right` on key 'ID', using outer method and store result in `merged_outer`.
@check_pandas_43
def pandas_43(df_left, df_right):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"merged_outer": merged_outer}

pandas_43()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Perform a right merge on DataFrames `df_personal` and `df_contact` based on the key 'ContactID', saving it as `merged_right`.
@check_pandas_44
def pandas_44(df_personal, df_contact):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"merged_right": merged_right}

pandas_44()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Join DataFrames `df_main` and `df_additional` using an inner join, saving the result in `joined_inner`.
@check_pandas_45
def pandas_45(df_main, df_additional):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"joined_inner": joined_inner}

pandas_45()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Conduct a left join on DataFrames `df_sales_main` and `df_sales_region` on 'RegionID', storing it as `joined_left`.
@check_pandas_46
def pandas_46(df_sales_main, df_sales_region):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"joined_left": joined_left}

pandas_46()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Group DataFrame `df_employee` by 'Department', calculating the average 'Salary' for each group and saving it as `avg_salary_by_department`.
@check_pandas_47
def pandas_47(df_employee):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"avg_salary_by_department": avg_salary_by_department}

pandas_47()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Pivot DataFrame `df_orders` with 'OrderID' as index, 'Category' as columns, and 'Amount' as values, resulting in `pivoted_orders`.
@check_pandas_48
def pandas_48(df_orders):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"pivoted_orders": pivoted_orders}

pandas_48()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Utilize crosstab to get a frequency table of 'Region' and 'ProductType' categories from `df_business`, storing the result as `region_product_crosstab`.
@check_pandas_49
def pandas_49(df_business):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"region_product_crosstab": region_product_crosstab}

pandas_49()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Reshape DataFrame `df_energy` from wide to long format using melt, and store the result in `melted_energy`.
@check_pandas_50
def pandas_50(df_energy):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"melted_energy": melted_energy}

pandas_50()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Using DataFrame `df_product_sales`, change its structure by applying a pivot operation with 'ProductID' being the index, columns as 'Month', and 'Sales' as values, storing the result in `pivoted_sales`.
@check_pandas_51
def pandas_51(df_product_sales):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"pivoted_sales": pivoted_sales}

pandas_51()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create a pandas DataFrame `df_date_range` using a date range starting from '2022-01-01' to '2023-01-01', frequency of 'MS', with columns ['Sales', 'Profit'] filled with zeros.
@check_pandas_52
def pandas_52():
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_date_range": df_date_range}

pandas_52()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Extract the year and month for each entry in DataFrame `df_date_series` with a DateTimeIndex, storing them in `years` and `months` respectively.
@check_pandas_53
def pandas_53(df_date_series):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"years": years, "months": months}

pandas_53()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Resample DataFrame `df_time_series` to quarterly frequency, taking the sum, and store the resulting series in `quarterly_series`.
@check_pandas_54
def pandas_54(df_time_series):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"quarterly_series": quarterly_series}

pandas_54()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Apply a rolling window of 7 days for the DataFrame `df_metrics`, and calculate the mean, storing it in `rolling_mean_metrics`.
@check_pandas_55
def pandas_55(df_metrics):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"rolling_mean_metrics": rolling_mean_metrics}

pandas_55()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Apply the function `np.log1p` to the column 'Revenue' in DataFrame `df_financial_data`, storing the updated data in `logged_df`.
@check_pandas_56
def pandas_56(df_financial_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"logged_df": logged_df}

pandas_56()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Optimize memory usage of DataFrame `df_large` by converting column 'ID' to int32 and store as `optimized_df`.
@check_pandas_57
def pandas_57(df_large):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"optimized_df": optimized_df}

pandas_57()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Convert data types of 'Price' in DataFrame `df_items` from float64 to float32 for memory efficiency, saving the result as `optimized_items`.
@check_pandas_58
def pandas_58(df_items):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"optimized_items": optimized_items}

pandas_58()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Remove duplicate entries from DataFrame `df_database` and store the cleaned DataFrame as `unique_database`.
@check_pandas_59
def pandas_59(df_database):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"unique_database": unique_database}

pandas_59()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Perform string operation by converting all entries in the 'Names' column of `df_attendees` to uppercase, storing the resulting DataFrame as `uppercase_attendees`.
@check_pandas_60
def pandas_60(df_attendees):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"uppercase_attendees": uppercase_attendees}

pandas_60()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Select rows from DataFrame `df_students` using the query method to find students with 'Score' greater than 85, storing the result as `high_scorers`.
@check_pandas_61
def pandas_61(df_students):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"high_scorers": high_scorers}

pandas_61()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# In DataFrame `df_results`, group by 'Team', apply custom function to rank 'Score' in descending order, and store the result in `ranked_teams`.
@check_pandas_62
def pandas_62(df_results):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"ranked_teams": ranked_teams}

pandas_62()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Perform a aggregation on DataFrame `df_data_group` for 'City' using a custom function that finds the range of 'Temperature', storing as `temperature_range`.
@check_pandas_63
def pandas_63(df_data_group):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"temperature_range": temperature_range}

pandas_63()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use vectorized operations to add 10 to every element in DataFrame `df_numeric`, saving the result as `adjusted_numeric`.
@check_pandas_64
def pandas_64(df_numeric):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"adjusted_numeric": adjusted_numeric}

pandas_64()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Process DataFrame `df_sales_timezones` to convert the 'Timestamp' to a timezone-aware datetime, setting the timezone to 'UTC', and save as `timezone_aware_sales`.
@check_pandas_65
def pandas_65(df_sales_timezones):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"timezone_aware_sales": timezone_aware_sales}

pandas_65()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create a pandas DataFrame `df_customer_reviews` from a JSON string `json_input_string`.
@check_pandas_66
def pandas_66(json_input_string):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_customer_reviews": df_customer_reviews}

pandas_66()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Given a pandas Series `series_temp_investments`, access specific elements from custom indices ['A1', 'B2', 'C3'] and save them to `selected_investments`.
@check_pandas_67
def pandas_67(series_temp_investments):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"selected_investments": selected_investments}

pandas_67()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Slice pandas Series `series_temp_readings` to return every second element, storing the result in `temp_slice_even`.
@check_pandas_68
def pandas_68(series_temp_readings):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"temp_slice_even": temp_slice_even}

pandas_68()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From a list of dictionaries `sensor_data_list`, create a DataFrame named `df_sensor_readings` with custom column names ['SensorID', 'Temperature', 'Humidity'].
@check_pandas_69
def pandas_69(sensor_data_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_sensor_readings": df_sensor_readings}

pandas_69()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Access and display the first 10 elements of Series `series_large_dataset`, storing them in `top_ten_elements`.
@check_pandas_70
def pandas_70(series_large_dataset):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"top_ten_elements": top_ten_elements}

pandas_70()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use the DataFrame `df_population_data` to extract and store the indices in a variable `population_indices`.
@check_pandas_71
def pandas_71(df_population_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"population_indices": population_indices}

pandas_71()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Combine DataFrames `df_financial_2021` and `df_financial_2020` vertically, so that rows from 2021 follow those of 2020, storing result in `combined_financials`.
@check_pandas_72
def pandas_72(df_financial_2021, df_financial_2020):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"combined_financials": combined_financials}

pandas_72()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Merge DataFrames `df_clients` and `df_orders` with a common key 'ClientID' using the 'inner' join method, and save the result as `client_orders`.
@check_pandas_73
def pandas_73(df_clients, df_orders):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"client_orders": client_orders}

pandas_73()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# From DataFrame `df_commodity_prices`, locate the element where 'Commodity' is 'Gold' and 'PriceDate' is '2023-06-01', storing it in `gold_price`.
@check_pandas_74
def pandas_74(df_commodity_prices):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"gold_price": gold_price}

pandas_74()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use boolean indexing on DataFrame `df_sales_performance` to extract rows where 'Quarter' is Q1 and 'Year' >= 2022, saving the result in `performance_q1_2022`.
@check_pandas_75
def pandas_75(df_sales_performance):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"performance_q1_2022": performance_q1_2022}

pandas_75()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Slice DataFrame `df_international_customers` to include rows 'France' to 'Italy' using their index labels and save it in `european_customers`.
@check_pandas_76
def pandas_76(df_international_customers):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"european_customers": european_customers}

pandas_76()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Modify DataFrame `df_shipping_list` by setting the 'CollectionDate' column of all rows before '2023-08-01' to NaT, storing the modified DataFrame as `adjusted_shipping`.
@check_pandas_77
def pandas_77(df_shipping_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"adjusted_shipping": adjusted_shipping}

pandas_77()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Merge DataFrames `df_employee_roles` and `df_role_salaries` on 'RoleID', performing a left merge and storing result as `employee_salary_details`.
@check_pandas_78
def pandas_78(df_employee_roles, df_role_salaries):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"employee_salary_details": employee_salary_details}

pandas_78()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Group DataFrame `df_class_scores` by 'Class' and calculate the maximum 'Score' for each class, saving the result as `max_class_scores`.
@check_pandas_79
def pandas_79(df_class_scores):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"max_class_scores": max_class_scores}

pandas_79()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Pivot DataFrame `df_sales_regions` with 'Region' as rows and 'Quarter' as columns, aggregating 'Sales' values, into `sales_pivot`.
@check_pandas_80
def pandas_80(df_sales_regions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"sales_pivot": sales_pivot}

pandas_80()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Utilize a crosstab of 'CustomerType' and 'Region' from DataFrame `df_customer_data`, storing the result as `customer_region_crosstab`.
@check_pandas_81
def pandas_81(df_customer_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"customer_region_crosstab": customer_region_crosstab}

pandas_81()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Reshape DataFrame `df_expenses` to long format, using melt function, resulting in `melted_expenses`.
@check_pandas_82
def pandas_82(df_expenses):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"melted_expenses": melted_expenses}

pandas_82()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use a pivot_table on DataFrame `df_contact_events` with 'ContactID' as index, 'EventType' as columns, and 'EventTimestamp' as values, stored in `pivoted_events`.
@check_pandas_83
def pandas_83(df_contact_events):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"pivoted_events": pivoted_events}

pandas_83()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create DataFrame `df_time_events` using a DateTimeIndex from a 'start' of '2023-01-01', 'end' of '2023-12-31', and a daily frequency.
@check_pandas_84
def pandas_84():
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_time_events": df_time_events}

pandas_84()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Convert the time zone of the 'datetime' column in DataFrame `df_events`, from UTC to US/Eastern, storing result as `tz_adjusted_events`.
@check_pandas_85
def pandas_85(df_events):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"tz_adjusted_events": tz_adjusted_events}

pandas_85()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Calculate the weekly rolling sum on DataFrame `df_financial_changes` for 'ChangeAmount', storing the result in `weekly_rolling_sum`.
@check_pandas_86
def pandas_86(df_financial_changes):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"weekly_rolling_sum": weekly_rolling_sum}

pandas_86()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use the apply function along with a custom lambda to multiply the 'Rating' column by 2 in DataFrame `df_movie_ratings`, saving it as `scaled_ratings`.
@check_pandas_87
def pandas_87(df_movie_ratings):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"scaled_ratings": scaled_ratings}

pandas_87()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Convert DataFrame `df_sequential` column 'Order' from int64 to int16 for memory efficiency, saving result as `optimized_sequential`.
@check_pandas_88
def pandas_88(df_sequential):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"optimized_sequential": optimized_sequential}

pandas_88()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Remove duplicate entries based on 'Email' in DataFrame `df_email_contacts`, storing deduplicated DataFrame as `unique_email_contacts`.
@check_pandas_89
def pandas_89(df_email_contacts):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"unique_email_contacts": unique_email_contacts}

pandas_89()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Perform string operation by replacing all occurrences of 'Inc.' with 'Incorporated' in the 'Company_Name' column of `df_business_registry`, storing result in `updated_business_registry`.
@check_pandas_90
def pandas_90(df_business_registry):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"updated_business_registry": updated_business_registry}

pandas_90()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Select entries from DataFrame `df_jobs` with 'Role' ending in 'Engineer' using the query method, saving result as `engineer_roles`.
@check_pandas_91
def pandas_91(df_jobs):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"engineer_roles": engineer_roles}

pandas_91()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Group DataFrame `df_market_data` by 'Sector' and aggregate 'MarketCap' using the custom function to find the median, saving in `median_market_cap`.
@check_pandas_92
def pandas_92(df_market_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"median_market_cap": median_market_cap}

pandas_92()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Use vectorized operations on DataFrame `df_portfolio`, to multiply every element in 'Shares' column by its corresponding 'Price', saving the result in `portfolio_value`.
@check_pandas_93
def pandas_93(df_portfolio):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"portfolio_value": portfolio_value}

pandas_93()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Add a 'ProfitMargin' column to DataFrame `df_sales_figures`, calculated as ('Profit' / 'Revenue') * 100 using vectorized operations, saving as `sales_with_margin`.
@check_pandas_94
def pandas_94(df_sales_figures):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"sales_with_margin": sales_with_margin}

pandas_94()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Sort DataFrame `df_graduates` by 'GPA' in descending order, saving sorted DataFrame as `sorted_graduates`.
@check_pandas_95
def pandas_95(df_graduates):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"sorted_graduates": sorted_graduates}

pandas_95()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Filter DataFrame `df_emissions` for 'Country' is 'USA' and 'Year' before 2000 using boolean conditions, saving result as `us_emissions_pre2000`.
@check_pandas_96
def pandas_96(df_emissions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"us_emissions_pre2000": us_emissions_pre2000}

pandas_96()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Calculate the cumulative sum of 'Purchases' in DataFrame `df_shopper_history` grouped by 'Year', storing the result in `yearly_cumulative_purchases`.
@check_pandas_97
def pandas_97(df_shopper_history):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"yearly_cumulative_purchases": yearly_cumulative_purchases}

pandas_97()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Create DataFrame `df_series_fan_following` with integers between 1000 and 5000 equally separated, indexed by monthly dates starting from '2022-01-01', till '2022-05-01', with column name 'Fans' and frequency 'MS'.
@check_pandas_98
def pandas_98():
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"df_series_fan_following": df_series_fan_following}

pandas_98()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Calculate difference in 'ClosingPrice' from previous day in DataFrame `df_stock_prices`, storing result as `closing_price_diff`.
@check_pandas_99
def pandas_99(df_stock_prices):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"closing_price_diff": closing_price_diff}

pandas_99()

❗ The implementation is incorrect or the exercise was not implemented.

In [ ]:
# Merge DataFrames `df_social_media_insights` and `df_campaign_performance` on 'CampaignID', using outer method saving result as `merged_campaign_data`.
@check_pandas_100
def pandas_100(df_social_media_insights, df_campaign_performance):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE

    # ABOVE GOES YOUR CODE
    return {"merged_campaign_data": merged_campaign_data}

pandas_100()

❗ The implementation is incorrect or the exercise was not implemented.